<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="vertical ottawazine original news reader">
    <meta name="keywords" content="ottawa,ottawazine,news,reader,original">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{{block "stylesheets"}}}
  </head>
  <body>
    {{{body}}}
    {{>footer footer}}
    {{{block "scripts"}}}
  </body>
</html>
